* { /* Zera margens e paddings de todos os elementos */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { /* Define altura e largura de todo o site como 100% */
    height: 100%;
    width: 100%;
} 

body::-webkit-scrollbar {
    display: none; /* Esconde a barra de rolagem */
}

#main {
    width: 100%;
    height: 100vh; 
    background: orangered;
}

.nav-menu {
    position: fixed; /* Fixa o menu na tela */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espaça os itens igualmente */
    width: 100%; /* Ocupa toda a largura da tela */
    height: 10vh;   /* Ocupa quase toda a altura da tela */
    z-index: 99; /* Garante que o menu fique acima de outros elementos */
}